html {
    background: rgb(199, 197, 197);
}

h1 {
    text-align: center;
}

#photoP {
    display: block;
    margin: auto;
    border: 2px solid black;
    border-radius: 75%;
}

#slider {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.slider-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    height: 350px;
    overflow: hidden;
}
.menu {
    position: absolute;
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}
.menu label:hover,.menu label:focus {
    background: #1c87c9;
}
.slide-input{
    opacity: 0;
}
.slide-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    transition: left 0s 0.75s;
}
[id^="slide"]:checked + .slide-img {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;/* Remove this if you don't want the 3D effect */
  }
 
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
 
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
 
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
 
  /* Style the front side */
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
 
 /* Styles pour les conteneurs des flip boxes */
.flip-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Espace entre les flip boxes */
}

/* Styles pour chaque flip box */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: auto;
    margin-top: 30px;
}

/* Ce conteneur est nécessaire pour positionner les faces avant et arrière. */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Effectue un retournement horizontal lorsque vous passez la souris sur le conteneur de la boîte de retournement.*/
.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

/* Positionner les faces avant et arrière*/
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style de la face avant */
.flip-box-front {
    background-color: #bbb;
    color: black;
    
}

/* Style de la face arrière */
.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  
}
/* Mise en page réactive - lorsque la largeur de l'écran est inférieure à 600 px, les deux colonnes s'empilent l'une sur l'autre au lieu de se côtoyer. */
@media screen and (max-width: 600px) {
    .flip-box,.flip-box-back,.flip-box-container,.flip-box-front,.flip-box-inner.flip-box:hover input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

#section3{
    display:flex;
    background-color: rgb(64, 59, 59);
    justify-content: center;
    flex-direction: row;

}

#Box1{
    background-color: rgb(64, 59, 59) ;
    flex-direction: row;
}
#Box2{
    background-color: rgb(64, 59, 59);
}

/* CSS pour le formulaire */

/* Styles pour le formulaire */



    /* Styles pour le conteneur du formulaire */
    .container {
      max-width: 500px; /* Largeur maximale du formulaire */
      margin: 0 auto; /* Centre le formulaire horizontalement */
      background-color: rgb(235, 217, 217);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-top: 50px; /* Espacement du haut */
    }
    
    /* Styles pour les groupes de formulaires (nom, prénom, pays, message) */
    .form-group {
      margin-bottom: 20px; /* Espacement entre les groupes de formulaires */
    }
    
    /* Styles pour les libellés des champs de formulaire */
    .form-group label {
      display: block; /* Affiche le libellé sur une nouvelle ligne */
      font-weight: bold;
      margin-bottom: 5px; /* Espacement en bas du libellé */
    }
    
    /* Styles pour les champs de texte et la zone de texte */
    .form-group input[type="text"],
    .form-group textarea {
      width: 100%; /* Remplit la largeur du conteneur parent */
      padding: 10px; /* Remplissage intérieur des champs */
      font-size: 16px; /* Taille de la police */
      border: 1px solid #ccc; /* Bordure grise */
      border-radius: 5px; /* Coins arrondis */
    }
    
    /* Styles spécifiques pour la zone de texte */
    .form-group textarea {
      height: 150px; /* Hauteur fixe pour la zone de texte */
    }
    
    /* Styles pour le groupe de case à cocher */
    .checkbox-group {
      margin-bottom: 20px; /* Espacement en bas du groupe de case à cocher */
    }
    
    /* Styles pour la case à cocher et son libellé */
    .checkbox-group label {
      display: block; /* Affiche le libellé sur une nouvelle ligne */
      margin-bottom: 10px; /* Espacement en bas du libellé */
    }
    
    .checkbox-group input[type="checkbox"] {
      margin-right: 10px; /* Espacement à droite de la caseà cocher */
    }
      

    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    .navbar {
        background-color: #333;
        padding: 15px;
        text-align: center;
        color: white;
    }
    
    .navbar a {
        color: white;
        text-decoration: none;
        padding: 14px 16px;
        display: inline-block;
    }
    
    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    
    .navbar .icon {
        display: none;
    }
    
    @media screen and (max-width: 600px) {
        .navbar a:not(:first-child) {
            display: none;
        }
        .navbar a.icon {
            float: right;
            display: block;
        }
    }
    
    .navbar.responsive {
        position: relative;
    }
    
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navbar.responsive a {
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }

/* Mise en page réactive - lorsque la largeur de l'écran est inférieure à 600 px, les deux colonnes s'empilent l'une sur l'autre au lieu de se côtoyer. */
@media screen and (max-width: 600px) {
    .flip-box,.flip-box-back,.flip-box-container,.flip-box-front,.flip-box-inner.flip-box:hover input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }